page-contactus {
  .card-background-page {

    ion-card {
      position: relative;
      text-align: center;
      -webkit-box-shadow: 11px 7px 26px 1px rgba(130,123,130,1);
-moz-box-shadow: 11px 7px 26px 1px rgba(130,123,130,1);
box-shadow: 11px 7px 26px 1px rgba(130,123,130,1);
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #000;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
    }

  }
}
